run = "yarn dev"
entrypoint = "server/server.js"

hidden = [".env.local", ".config", "client/.next"]

[env]
XDG_CONFIG_HOME = "/home/runner/.config"
PATH = "/home/runner/$REPL_SLUG/.config/bin:$PATH"
npm_config_prefix = "/home/runner/$REPL_SLUG/.config/"

[nix]
channel = "stable-22_05"

[packager]
language = "nodejs"

	[packager.features]
	packageSearch = false
	guessImports = false

[languages.mdx]
pattern = "**/*.mdx"
syntax = "markdown"

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"
syntax = "javascript"

	[languages.javascript.languageServer]
	start = [ "typescript-language-server", "--stdio" ]

[languages.css]
pattern = "**/{*.css,*.sass,*.scss,*.less}"
syntax = "css"

	[languages.css.languageServer]
	start = [ "css-languageserver", "--stdio" ]

[languages.emmet]
pattern = "**/{*.html,*.css,*.scss,*.js,*.jsx,*.ts,*.tsx,*.haml,*.xml,*.xsl,*.pug,*.slim,*.sass,*.styl,*.less,*.sss,*.hbs}"
syntax = "css"

	[languages.emmet.languageServer]
	start = [ "ls_emmet", "--stdio" ]

[languages.graphql]
pattern = "**/{*.graphql,*.gql}"
syntax = "graphql"

	[languages.graphql.languageServer]
	start = [ "graphql-lsp", "server", "-m", "stream", "-c", "graphql.config.json" ]
