/*
 * Modified Version of this Gist:
 * https://gist.github.com/fabricelejeune/bcdd3d4725d4e4cea672
 */

/* Font Definitions */

$font-display: 'Outfit', -apple-system, blinkmacsystemfont, 'Segoe UI', roboto,
	helvetica, arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
	'Segoe UI Symbol';

$font-body: 'Outfit', -apple-system, blinkmacsystemfont, 'Segoe UI', roboto,
	helvetica, arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
	'Segoe UI Symbol';

$font-monospace: 'DM Mono', monospace;

/* Font Variants */

$variants-display: (
	'bold': (
		family: $font-display,
		weight: 700,
		style: normal,
		feature-settings: (
			'salt',
			'ss01',
		),
	),
	'extrabold': (
		family: $font-display,
		weight: 800,
		style: normal,
		feature-settings: (
			'salt',
			'ss01',
		),
	),
	'black': (
		family: $font-display,
		weight: 900,
		style: normal,
		feature-settings: (
			'salt',
			'ss01',
		),
	),
);

$variants-body: (
	'thin': (
		family: $font-body,
		weight: 100,
		style: normal,
	),
	'extralight': (
		family: $font-body,
		weight: 200,
		style: normal,
	),
	'light': (
		family: $font-body,
		weight: 300,
		style: normal,
	),
	'regular': (
		family: $font-body,
		weight: 400,
		style: normal,
	),
	'medium': (
		family: $font-body,
		weight: 500,
		style: normal,
	),
	'semibold': (
		family: $font-body,
		weight: 600,
		style: normal,
	),
	'bold': (
		family: $font-body,
		weight: 700,
		style: normal,
	),
	'thin-italic': (
		family: $font-body,
		weight: 100,
		style: italic,
	),
	'extralight-italic': (
		family: $font-body,
		weight: 200,
		style: italic,
	),
	'light-italic': (
		family: $font-body,
		weight: 300,
		style: italic,
	),
	'regular-italic': (
		family: $font-body,
		weight: 400,
		style: italic,
	),
	'medium-italic': (
		family: $font-body,
		weight: 500,
		style: italic,
	),
	'semibold-italic': (
		family: $font-body,
		weight: 600,
		style: italic,
	),
	'bold-italic': (
		family: $font-body,
		weight: 700,
		style: italic,
	),
);

$variants-monospace: (
	'regular': (
		family: $font-monospace,
		weight: 400,
		style: normal,
		feature-settings: (
			'salt',
			'ss01',
			'ss02',
			'ss03',
			'ss04',
			'ss05',
		),
	),
	'regular-italic': (
		family: $font-monospace,
		weight: 400,
		style: italic,
		feature-settings: (
			'salt',
			'ss01',
			'ss02',
			'ss03',
			'ss04',
			'ss05',
		),
	),
);

/* Font Stack */

$font-stack: (
	display: $variants-display,
	body: $variants-body,
	monospaced: $variants-monospace,
);

/*
 * Font Mixin
 * @include render(display, bold)
 */

@mixin render(
	$group,
	$variant: regular,
	$properties: family weight style feature-settings,
	$font-stack: $font-stack
) {
	$font-properties: map-get($font-stack, $group, $variant);

	@if $font-properties {
		@each $property, $values in $font-properties {
			@if contains($properties, $property) {
				font-#{$property}: map-get($font-properties, $property);
			}
		}
	}
}
